/* Doorstop.css file. */
.caption {
    text-align: center;
    font-size: 15px;
}

.dropdown-menu-scrollable {
    max-height: 70vh;
    /* 70% der Viewport-Höhe */
    overflow-y: auto;
    overflow-x: hidden;
    /* Horizontalen Scrollbalken verhindern */
}

#img {
    width: 100%
}