[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

sappy = "*"
pyyaml = "~=5.1"

[dev-packages]

# Linters
pylint = "*"
pycodestyle = "*"
pydocstyle = "*"

# Testing
nose = "~=1.3"
nose-cov = "*"
nose-capturestderr = "*"
nose-show-skipped = "*"
expecter = "*"

# Reports
coveragespace = "*"

# Documentation
mkdocs = "*"
docutils = "*"
pygments = "*"
markdown = "*"
python-markdown-math = "*"

# Build
wheel = "*"
pyinstaller = "*"

# Release
twine = "*"

# Tooling
sniffer = "*"
pync = { version = "<2.0", sys_platform = "== 'darwin'" }
MacFSEvents = { version = "*", sys_platform = "== 'darwin'" }
