asttokens==2.0.8
astunparse==1.6.3
backcall==0.2.0
boltons==21.0.0
colorama==0.4.6
contourpy==1.0.5
cvxopt==1.3.0
cycler==0.11.0
Cython==0.29.14
debtcollector==2.5.0
decorator==5.1.1
dit==1.5
ds4se==0.2.1
execnb==0.1.4
executing==1.1.1
fastcore==1.5.27
fonttools==4.38.0
gensim==3.8.3
ghapi==1.0.3
ipython==8.5.0
jedi==0.18.1
joblib==1.2.0
kiwisolver==1.4.4
lattices==0.3.5
matplotlib==3.6.0
matplotlib-inline==0.1.6
nbdev==2.3.7
networkx==2.8.7
numpy==1.23.3
packaging==21.3
pandas==1.0.5
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
PLTable==1.0.2
prompt-toolkit==3.0.31
pure-eval==0.2.2
pycddlib==2.1.6
pyemd==0.5.1
Pygments==2.13.0
pyparsing==3.0.9
pypoman==0.5.4
python-dateutil==2.8.2
pytz==2022.5
PyYAML==6.0
scikit-learn==0.23.1
scipy==1.5.0
sentencepiece==0.1.97
six==1.16.0
sklearn==0.0
smart-open==6.2.0
stack-data==0.5.1
threadpoolctl==3.1.0
traitlets==5.5.0
watchdog==2.1.9
wcwidth==0.2.5
wrapt==1.14.1