name: Execute tests
on:
  workflow_call:
    inputs:
      basepath:
        required: false
        type: string
      os:
        required: true
        type: string
      workpath:
        required: true
        type: string

jobs:
  change-coverage:
    runs-on: ubuntu-latest
    name: Change coverage
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          architecture: x64

      - uses: Gr1N/setup-poetry@v8

      - name: Check system dependencies
        run: make doctor

      - uses: actions/cache@v4
        with:
          path: .venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}

      - name: Install project dependencies
        run: make install
      
      - name: Check coverage
        run: |
          TEST_INTEGRATION=true poetry run pytest doorstop --doctest-modules --cov=doorstop --cov-report=xml --cov-report=term-missing
          TEST_INTEGRATION=true poetry run diff-cover ./coverage.xml --fail-under=100 --compare-branch=$(git for-each-ref --sort=-committerdate refs/heads/develop | cut -f 1 -d ' ')
