name: Execute tests
on:
  workflow_call:
    inputs:
      basepath:
        required: true
        type: string
      os:
        required: true
        type: string
      workpath:
        required: true
        type: string

jobs:
  test:
    runs-on: ${{ inputs.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9"]
    name: Python ${{ matrix.python-version }}

    defaults:
      run:
        working-directory: ${{ inputs.workpath }}

    steps:
      - name: Checkout Unix
        if: ${{ inputs.os != 'windows-latest' }}
        run: |
          mkdir -p ${{ inputs.workpath }}
          git clone https://github.com/${{ github.repository }} ${{ inputs.workpath }} --depth 1 --branch $GITHUB_REF_NAME
      - name: Checkout Windows
        # Cannot start powershell from a path that does not exist, so change
        # working directory for this step only.
        working-directory: ${{ inputs.basepath }}
        if: ${{ inputs.os == 'windows-latest' }}
        run: |
          mkdir -p ${{ inputs.workpath }}
          git clone https://github.com/${{ github.repository }} ${{ inputs.workpath }} --depth 1 --branch $env:GITHUB_REF_NAME

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - uses: Gr1N/setup-poetry@v7

      - name: Check system dependencies
        run: make doctor

      - uses: actions/cache@v2
        with:
          path: .venv
          key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}

      - name: Install project dependencies
        run: make install

      - uses: Wandalen/wretry.action@v1.0.11
        name: Run tests
        with:
          command: make test
          attempt_limit: 3
          attempt_delay: 2000
          with: |
            fail_ci_if_error: true
            working-directory: ${{ inputs.workpath }}

      - name: Upload coverage
        uses: codecov/codecov-action@v1
        if: ${{ inputs.os == 'ubuntu-latest' && matrix.python-version == '3.9' && github.repository == 'doorstop-dev/doorstop' }}
        with:
          fail_ci_if_error: true

      - name: Run checks
        run: make check
        if: ${{ inputs.os == 'ubuntu-latest' }}

      - name: Run demo
        run: make demo
        if: ${{ inputs.os == 'ubuntu-latest' }}
