name: macOS

on:
  push:
  pull_request:
    branches: [ develop ]

jobs:
  Test:
    uses: ./.github/workflows/_common.yml
    with:
      os: "macos-14"
      workpath: "/Users/runner/work/doorstop/doorstop"
    secrets:
      CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
