name: macOS

on:
  push:
  pull_request:
    branches: [ develop ]

jobs:
  Test:
    uses: ./.github/workflows/execute-tests.yml
    with:
      os: "macos-latest"
      workpath: "/Users/runner/work/doorstop/doorstop"
